.ItemCard-Link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 300px;
}

.item-card {
  width: 100%;
  height: 30vw;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s;
}

.item-card:hover {
  transform: translateY(-8px);
  box-shadow: 1px gray;
}

.item-card:hover .hide {
  display: block;
}

.product-thumbnail-buy {
  display: flex;
  justify-content: space-around;
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: cornflowerblue;
  padding: 3px;
  margin: 3px;
}

.product-thumbnail-buy-holder {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-radius: 10px;
  color: cornflowerblue;
  padding: 3px;
  margin: 3px;
}

.product-info {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  color: cornflowerblue;
  width: auto;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  margin: 3px;
}

.product-info-text {
  padding: 1px;
  margin: 0px;
}

.item-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.hide {
  display: none;
}
