.product-row {
  display: grid;
  width: 90%;
  margin-left: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.browse-page {
  height: 100%;
  width: 100%;
}

/* .browse-grid {
  display: grid;
  width: 80%;
  margin-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  grid-template-columns: 20% 20% 20% 20% 20%;
} */
