.product-row {
  display: grid;
  width: 90%;
  margin-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
  grid-template-columns: 33% 33% 33%;
}

.browse-page {
  height: 100%;
  width: 100%;
}

.search-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.section-header {
  text-align: center;
}

.browse-grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
}

.product-page-image {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.outer-product-row {
}
