.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

.navbar-list {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navlinks {
  padding: 5px;
  background-color: black;
  color: white;
  text-decoration: none;
  padding-right: 20px;
}
